{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Spellcheck
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='spellcheck.css')}}">
{% endblock %}

{% block content %}

<p>SPELLCHECK TEST PAGE</p>
    <div class="container">

      <form class="form-spellcheck" method="POST" action="/spell_check">
        <h2 class="form-spellcheck-heading">Please enter your input</h2>
        {{ form.hidden_tag() }}
        {{ form.inputtext(size=9999) }}
        <!--{{ wtf.form_field(form.textout) }}
        {{ wtf.form_field(form.misspelled) }} -->
        <h2 class="form-spellcheck-heading">Output Text</h2>
          <p id="textout">{{ textout }}</p>
                
        <h2 class="form-spellcheck-heading">Misspelled Words</h2>
          <p id="misspelled">{{ textout }}</p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Compute</button>
        {% if outcome %}
          <p id='result'>{{ outcome }}</p>
        {% endif %}
      </form>

    </div> <!-- /container -->
{% endblock %}